<!DOCTYPE html>
<html>
    <head>
      {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/gestionCurso.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-info">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Instituto</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contactanos</a>
                  </li>
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="btn btn-danger btn-block text-white" href="{% url 'logout' %}">Cerrar Sesion</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="btn btn-primary btn-block text-white" href="{% url 'login' %}">Iniciar Sesion</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        {% block body %}
        
        {% endblock %}
          

        <footer class="footer mt-auto">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2023 Copyright:
              <a class="text-dark" href="https://mdbootstrap.com/">Seccion 13 Desarrollo Web</a>
            </div>
            <!-- Copyright -->
        </footer>
    </body>
</html>