{% extends "./base.html" %}

{% block body %}

<div class="col-md-4 col-lg-4 col-xl-4">
	<h2>Editar Cursos</h2>
	<div class="row">
		<div class="col-md-8 offset-md-10">
			<div class="card">
				<div class="card-body">
					<form action="/edicionCurso/" method="POST">{% csrf_token %}
						<div class="form-group">
							<input type="text" id="txtCodigo" name="txtCodigo" value="{{ curso.codigo }}"  readonly class="form-control" placeholder="Código"  minlength="7" maxlength="7"  required>
						</div>
						<div class="form-group">
							<input type="text" id="txtNombre" name="txtNombre" value="{{ curso.nombre }}" class="form-control" placeholder="Nombre" minlength="3" maxlength="50" required>
						</div>
						<div class="form-group">
							<input type="text" id="numCredito" name="numCredito" value="{{ curso.credito }}" class="form-control"  minlength="1" maxlength="9" required>
						</div>
						<br>
						<div class="form-group">
							<button type="submit" class="btn btn-warning btn-block text-white">Editar</button>
						</div>
					</form>
		
				</div>
		
			</div>
		</div>
	</div>
	
</div>
{% endblock %}