{% extends "./base.html" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <h2>Gestión de Cursos</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="/registrarCurso/" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Código"  minlength="7" maxlength="7" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" minlength="3" maxlength="50" required>
                            </div>
                            <div class="form-group">
                                <input type="text" id="numCredito" name="numCredito" class="form-control"  minlength="1" maxlength="9" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-8">
                <h1>Listado de Cursos</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Codigo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Creditos</th>
                            <th scope="col">Herramientas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for c in cursos%}
                        <tr>
                            <td>{{c.codigo}}</td>
                            <td>{{c.nombre}}</td>
                            <td>{{c.credito}}</td>
                            <td>
                                <a href="editarCurso/{{c.codigo}}" class="btn btn-warning btn-block text-white">Editar</a>
                                <a href="eliminarCurso/{{c.codigo}}" class="btn btn-danger btn-block text-white">Eliminar</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    </table>
                    
            </div>
        </div>
    </div>

{% endblock %}


