<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Iniciar Sesion</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <h2>Ingresa tus credenciales</h2>
                    <div class="card">
                        <div class="card-body">
                            <form action="" method="POST">{% csrf_token %}
                                {{ form }}
                                <br>
                                <div >
                                    <button type="submit" class="btn btn-success btn-block text-white">Iniciar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        
        
    </body>
</html>